body{
    margin: 30px;
    color: #ffffff;
    background-color: #0c1b54;
}

#renderer{
    min-height: 550px;
}

#all{
    border: 1px solid blue;
}

#main-container{
    height: 100%;
}

h1{
    font-size: 25pt;
    font-weight: bold;
	
}

h2{
    font-size: 18pt;
}

h3{
    font-size: 14pt;
}


#currentStep{
    font-weight: bold;
    font-size: 18pt;
}

#step{
    font-weight: bold;
    font-size: 18pt;
}
#card-header{
	 background-color: #88e6f2;
}
